{{define "body"}}

<div class="about">
    <article>
    <p>
        Planet-hackNY was born one day when Eitan Adler (hackNY '11) thought it would be a good idea to create a <a href="http://www.planetplanet.org/">Planet</a> to showcase the blogs of <a href="http://www.hackny.org">hackNY</a> fellows.
    </p>

    <p>
        We soon discovered that the Planet software was almost seven years out-of-date, running a version of Python that was twelve years old, and using a database supported by neither Heroku nor any current version of Python.
    </p>

    <p>
        Being hackers, we took this as an opportunity to write our own software to power the site - which we did, naming it <a href="https://github.com/ChimeraCoder/pluto">Pluto</a>. Pluto is written in pure Go, using MongoDB as a backend to store the blog posts.
    </p>

    <p>
        Interested in creating your own portal based on Pluto? Pluto is free software, provided under the MIT/X11 license.
    </p>

    <p>
    </p>

    - Aditya Mukerjee (hackNY '11)
    </article>

</div>

{{end}}
