{{define "body"}}
	<h1> hackNY Fellows Class of 2013 </h1>
	<table>
  	<thead>
    	<tr>
				<th width="200">Name</th>
				<th>School</th>
				<th width="150">Startup</th>
   		 </tr>
  	</thead>
  	<tbody>
		{{range . }}
				<tr>
					<td class ="name">
						<a href="{{.Blog}}">
							{{.Name}}
						</a>
					</td>
					<td class="school">
						{{ .SchoolName}}
					</td>
					<td>
						<a href="{{.StartupUrl}}">
							<img class="startup-logo" src="{{.StartupLogo}}">
							</img>
						</a>
					</td>
				</tr>
		{{end}}
		</tbody>
	</table>
{{end}}
